*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #4d4d4d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.edit-con{
    border-radius: 1.8rem;
    border: solid #000 0.2rem;
    background-color: blanchedalmond;
}
.post-con{
    padding:1rem 1rem 1rem 1rem;
}
.edit-head-con{
    display: flex;
    justify-content: center;
}
.edit-head{
    margin-bottom: 0.5rem;
    color: #ba0f0f;
}
.edit-gap{
    margin-bottom: 0.5rem;
}
.edit-txt-ara{
    color: #000;
    background-color: #e5ffe0;
}
.submit-btn-con{
    display: flex;
    justify-content: center;
}
.submit-btn{
    border: solid #000 0.13rem; 
    padding: 0.3rem 0.4rem 0.3rem 0.4rem;
    border-radius: 0.5rem;
    color: #fff;
    background-color: #0c63dd;
    transition: 0.3s ease;
}
.submit-btn:hover{
    font-size: 0.8rem ;
}